
    #tablaAlmacen {
      font-family: Arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #tablaAlmacen th,
    #tablaAlmacen td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }


    #tablaAlmacen tr:nth-child(even) {
      background-color: #f2f2f2;
    }

 

    #tablaAlmacen th {
      background-color: #b34200;
      color: white;
    }


    .eliminar {
      background-color: #f44336;
      color: white;
      border: none;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      border-radius: 4px;
    }

    .eliminar:hover {
      background-color: #d32f2f;
    }


    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      text-align: center;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }

    input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #d32f2f;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }

    input[type="submit"]:hover {
      background-color: #d32f2f;
    }